[submodule "Android-VKontakte-SDK"]
	path = Android-VKontakte-SDK
	url = git@github.com:thest1/Android-VKontakte-SDK.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git@github.com:JakeWharton/ActionBarSherlock.git
